.card {
  /* display: flex;
  flex-direction: column;
  flex: 1;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding: 30px; */
  font-size: 16px;

  width: 400px;
  height: 550px;
  border-width: 2px;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 10px 5px 5px rgb(10, 10, 10);

  margin: 30px;
  background-color: cornflowerblue;
}

.card_avatar {
  width: fit-content;
  margin-bottom: 20px;
}

.card_img {
  width: 100%;
  height: 100%;
}

.card_info {
  margin: 10px;
}

.border-type-a {
  border-style: inset;
  border-color: yellowgreen;
}
